{% extends "userLists/base.html" %}
{% block content %}
    {% if task %}
        <form class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="{{task.task}}"
                       value="{{ task.task }}" aria-label="Search" name="task">
                <input type="hidden" value="{{ task.completed }}" name="completed">
                <input type="hidden" value="{{ task.repeating }}" name="repeating">
                <button class="btn btn-outline-secondary my-2 my0sm-0" type="submit">Edit Item</button>
        </form>
    {% endif %}


{% endblock content %}