{% extends "userLists/base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
 <table class="table table=bordered">
    {% for entry in all_items %}
     {% if entry.repeating == 'monthly' %}
        {% if entry.completed %}
            <tr class="table-secondary">
                <td class="striker"><a href="{% url 'edit' entry.id %}">{{ entry.task }}</a></td>
                <td><center><a href="{% url 'uncross' entry.id entry.repeating %}">Uncross</a></center></td>
                <td><center><a href="{% url 'delete' entry.id %}">Delete</a></center></td>
            </tr>
        {% else %}
            <tr>
                <td><a href="{% url 'edit' entry.id %}">{{ entry.task }}</a></td>
                <td><center><a href="{% url 'cross_off' entry.id entry.repeating %}">Cross Off</a></center></td>
                <td><center><a href="{% url 'delete' entry.id %}">Delete</a></center></td>
            </tr>
        {% endif %}
     {% endif %}
    {% endfor %}
</table>

{% endblock content %}